<div class="container-fluid" id="galeria">
    <h4 class="principal ">Proyectos Realizados</h4>

    <div class="row">

        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 col-xxl-4 ">

            <a href="#" target="_blank"><img src="../../../assets/carrusel11.jpg" alt="imagen-galería" class="img-fluid gal">
                <p class="link text-center">Ver proyecto Online</p>
            </a>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 col-xxl-4 ">

            <a href="#" target="_blank"><img src="../../../assets/carrusel11.jpg" alt="imagen-galería" class="img-fluid gal">
                <p class="link text-center">Ver proyecto Online</p>
            </a>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 col-xxl-4 ">

            <a href="#" target="_blank"><img src="../../../assets/carrusel11.jpg" alt="imagen-galería" class="img-fluid gal">
                <p class="link text-center">Ver proyecto Online</p>
            </a>
        </div>
    </div>

</div>
