<div class="LogosRedesSociales col-6">
    <div class="row">
        <div class="col-2">
            <img src="\assets\facebook.png" alt="Logo Facebook" class="LRS">
        </div>
        <div class="col-2">
            <img src="\assets\github.png" alt="Logo Github" class="LRS">
        </div>
        <div class="col-2">
            <img src="\assets\instagram.png" alt="Logo Instagram" class="LRS">
        </div>
        <div class="col-2">
            <img src="\assets\linkedin.png" alt="Logo Linkedin" class="LRS">
        </div>
        <div class="col-2">
            <img src="\assets\twitter.png" alt="Logo Twitter" class="LRS">
        </div>
        <div class="col-1">
            <img src="\assets\login.png" alt="Logo Login" class="LRS">
        </div>
    </div>


</div>
